@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

/* DESKTOP - width 1440px */

body{
    background-color: hsl(210, 46%, 95%);
    margin: 15% 10% 15% 10%;
    padding: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas: 
        "container1 container1 container2 container5"
        "container3 container4 container4 container5"
}

.container1, .container2, .container3, .container4, .container5{
    border-radius: 20px;
    line-height: 1.5em;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
}

.container1, .container2, .container4{
    color: hsl(210, 46%, 95%);  
}

.container3, .container5{
    color: hsl(217, 19%, 35%);
    border : 1px solid hsl(0, 0%, 81%, 0.5);
    box-shadow: 10px 10px 25px hsl(0, 0%, 81%, 0.5);
}

.container3, .container4{
    padding-top: 25px;
}

.header{
    width: 100%;
    height: 37px;
    display: inline-flex;
    vertical-align: center;
}

.img1, .img2, .img3, .img4{
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.3em;
    margin-right: 5%;
}

.name&status{
    margin-top: 10%;
    height: 31px;
}

.name{
    font-weight: bold;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
    height: 15px;
    padding-top: 0;
}

.status{
    opacity: 0.5;
    margin-top: 5%;
    margin-bottom: 0;
}

.headline{
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: -15px;
    font-weight: bold;
}

.paragraph{
    opacity : 0.7;
}

/* Daniel Clifford */

.container1{
    background-color: hsl(263, 55%, 52%);
    grid-area: container1;
}

.img1, .img2{
    border-color: rgba(255, 255, 255, 0.3);
}

.quotation-marks{
    width: 110px;
    margin-left: 180px;
    margin-top: -25px;
}

/* Jonathan Walters */

.container2{
    background-color: hsl(217, 19%, 35%);
    grid-area: container2;
}

/* Jeanette Harmon */

.container3{
    background-color: hsl(0, 0%, 100%);
    grid-area: container3;
}

.img3{
    border-color: white;
}

/* Patrick Abrams */

.container4{
    background-color: hsl(219, 29%, 14%);
    grid-area: container4;
}

.img4{
    border-color : rgba(117, 65, 200, 0.5);
}

/* Kira Whittle */

.container5{
    background-color: hsl(0, 0%, 100%);
    grid-area: container5;
    padding-bottom: 20px;
}

/* MOBILE - Width 375px */

@media only screen and (max-width: 375px){
    body{
        margin: 15% 5% 15% 7%;
        grid-template-columns: 0.5fr;
        grid-template-rows: 0.8fr 0.5fr 0.5fr 0.8fr 1fr;
        grid-template-areas: 
            "container1"
            "container2"
            "container3"
            "container4"
            "container5"
    }
    
    .container1, .container2, .container3, .container4, .container5{
        width: 275px;
    }
    
    .name&status{
        width: 70px;
    }
    
    .quotation-marks{
        margin-left: 10px;
    }  
}
